<h1>Edit autopilot contact</h1>
<%= form_for(@autopilotContact,:url =>  url_for(:controller => 'autopilot_models', :action => 'update'), html: {method: "put"}) do |f| %>
	<div class="field">
		<%= f.label "First Name" %><br />
		<%= f.text_field :FirstName %>
	</div>
	<div class="field">
		<%= f.label "Last Name" %><br />
		<%= f.text_field :LastName %>
	</div>

	<div class="field">
		<%= f.label "New Email (optional)" %><br />
		<%= f.text_field :_NewEmail %>
	</div>
		<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>

