<h1>Add new autopilot contact</h1>
<%= form_for(@autopilotContact) do |f| %>
	<div class="field">
		<%= f.label "First Name" %><br />
		<%= f.text_field :FirstName %>
	</div>
	<div class="field">
		<%= f.label "Last Name" %><br />
		<%= f.text_field :LastName %>
	</div>

	<div class="field">
		<%= f.label "Email" %><br />
		<%= f.text_field :_NewEmail %>
	</div>
		<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>

